<h1>
    Carrinho de Compras
</h1>
<table style="width: 100%;">
    <thead>
        <th>
            Produto
        </th>
        <th>
            Quantidade
        </th>
        <th>
            Preço
        </th>
        <th>
            Total
        </th>
        <th>
            Remover
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let item of itens">
            <td>{{item.produto.nome}}</td>
            <td>{{item.quantidade}}</td>
            <td>{{item.produto.preco | currency : 'BRL'}}</td>
            <td>{{item.produto.preco * item.quantidade | currency : 'BRL'}}</td>
            <td><button (click)="removerItem(item.produto.id)">-</button></td>
        </tr>
    </tbody>
</table>
